
//Estilo general
body {
	background:#ffffe3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6em;	
}

/* Color de titulo y subtitulo*/

h1 {
	color: #7a00c0;
	text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h2 { 
	color: #5c37df;
	text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}

 h3 {
     color: #5c37df;
     font-family: sans-serif;
     font-size: 18 px;

}
h4 {
    color: #000036;
    font-family: sans-serif;
    font-size: 15px;
}


